.dark {
    padding: 10px;
    border: 2px solid black;
    background-color: rgb(73, 73, 1);
    color: white;
}

.light {
    padding: 10px;
    border: 2px solid salmon;
    background-color: white;
    color: black;
}